# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
## instantiate a sql instance on your local computer 
import sqlite3

# we then need to establish a connection object that represent the database
conn = sqlite3.connect('data.sqlite')

# we then create a cursor that allow us to interact with, and create sql commands
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and customers tables.

In [7]:
#Your code hereE JOIN customers c ON ')
c.execute(query)
c.fetchmany(10)

[('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '103',
  'Atelier graphique',
  'Schmitt',
  'Carine ',
  '40.32.2555',
  '54, rue Royale',
  '',
  'Nantes',
  '',
  '44000',
  'France',
  '1370',
  '21000.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '112',
  'Signal Gift Stores',
  'King',
  'Jean',
  '7025551838',
  '8489 Strong St.',
  '',
  'Las Vegas',
  'NV',
  '83030',
  'USA',
  '1166',
  '71800.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '114',
  'Australian Collectors, Co.',
  'Ferguson',
  'Peter',
  '03 9520 4555',
  '636 St Kilda Road',
  'Level 3',
  'Melbourne',
  'Victoria',
  '3004',
  'Australia',
  '1611',
  '117300.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '119',
  'La Rochelle Gifts',
  'Labrune',
  'Janine ',
  '40.67.8555',
  '67, rue des Cinquante Otages',
  '',
  'Nantes',
  '',
  '44000',
  'France',
  '1370',
  '118200.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '121',
  'Baane Mini Imports',
  'Bergulfsen',
  'Jonas ',
  '07-98 9555',
  'Erling Skakkes gate 78',
  '',
  'Stavern',
  '',
  '4110',
  'Norway',
  '1504',
  '81700.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '124',
  'Mini Gifts Distributors Ltd.',
  'Nelson',
  'Susan',
  '4155551450',
  '5677 Strong St.',
  '',
  'San Rafael',
  'CA',
  '97562',
  'USA',
  '1165',
  '210500.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '125',
  'Havel & Zbyszek Co',
  'Piestrzeniewicz',
  'Zbyszek ',
  '(26) 642-7555',
  'ul. Filtrowa 68',
  '',
  'Warszawa',
  '',
  '01-012',
  'Poland',
  '',
  '0.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '128',
  'Blauer See Auto, Co.',
  'Keitel',
  'Roland',
  '+49 69 66 90 2555',
  'Lyonerstr. 34',
  '',
  'Frankfurt',
  '',
  '60528',
  'Germany',
  '1504',
  '59700.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '129',
  'Mini Wheels Co.',
  'Murphy',
  'Julie',
  '6505555787',
  '5557 North Pendale Street',
  '',
  'San Francisco',
  'CA',
  '94217',
  'USA',
  '1165',
  '64600.00'),
 ('1002',
  'Murphy',
  'Diane',
  'x5800',
  'dmurphy@classicmodelcars.com',
  '1',
  '',
  'President',
  '131',
  'Land of Toys Inc.',
  'Lee',
  'Kwai',
  '2125557818',
  '897 Long Airport Avenue',
  '',
  'NYC',
  'NY',
  '10022',
  'USA',
  '1323',
  '114900.00')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [ ]:
#Your code here

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!